@import 'variable';

.footer {
  width: 100%;
  background-color: #d4d1d1;
  @include flex();
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  .logo a:hover {
    color: purple;
  }

  .navbar ul {
    display: none;
    align-items: center;
    gap: 30px;
    text-decoration: underline;
    flex-direction: row;
    padding: 10px;
    transition: $trans;

    a:hover {
      color: #ff0000;
    }

    @media screen and (min-width: 576px) {
      display: flex;
    }
  }

}

